In [3]:
import pandas as pd

# Components of pandas

Series and Dataframes

In [4]:
#creating dataframe
data = {
    "Apples":[3,2,0,1],
    "Oranges":[0,3,7,2]
}
print(data)

{'Apples': [3, 2, 0, 1], 'Oranges': [0, 3, 7, 2]}

In [5]:
my_inventory=pd.DataFrame(data)
my_inventory

   Apples  Oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [6]:
# add an index to dataframe
my_inventory = pd.DataFrame(my_inventory,index=['Naseela','Shilpa','Irfana','Dilsha'])
my_inventory

         Apples  Oranges
Naseela     NaN      NaN
Shilpa      NaN      NaN
Irfana      NaN      NaN
Dilsha      NaN      NaN

In [7]:
#Getting an external data into python using pandas
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [8]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [9]:
df.size

9600

In [10]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [12]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [13]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
Generation_data = df[['Name','Type 1','Generation']]
Generation_data

                      Name   Type 1  Generation
0                Bulbasaur    Grass           1
1                  Ivysaur    Grass           1
2                 Venusaur    Grass           1
3    VenusaurMega Venusaur    Grass           1
4               Charmander     Fire           1
..                     ...      ...         ...
795                Diancie     Rock           6
796    DiancieMega Diancie     Rock           6
797    HoopaHoopa Confined  Psychic           6
798     HoopaHoopa Unbound  Psychic           6
799              Volcanion     Fire           6

[800 rows x 3 columns]

In [15]:
Generation_data.to_csv('generation.csv',index=False)

In [16]:
#Read a specific row
print(df.iloc[0:2])

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

In [17]:
print(df.loc[df['Type 1']=='Grass'])

       #                   Name Type 1    Type 2   HP  Attack  Defense  \
0      1              Bulbasaur  Grass    Poison   45      49       49
1      2                Ivysaur  Grass    Poison   60      62       63
2      3               Venusaur  Grass    Poison   80      82       83
3      3  VenusaurMega Venusaur  Grass    Poison   80     100      123
48    43                 Oddish  Grass    Poison   45      50       55
..   ...                    ...    ...       ...  ...     ...      ...
718  650                Chespin  Grass       NaN   56      61       65
719  651              Quilladin  Grass       NaN   61      78       95
720  652             Chesnaught  Grass  Fighting   88     107      122
740  672                 Skiddo  Grass       NaN   66      65       48
741  673                 Gogoat  Grass       NaN  123     100       62

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
48        75       65     30           1      False
..       ...      ...    ...         ...        ...
718       48       45     38           6      False
719       56       58     57           6      False
720       74       75     64           6      False
740       62       57     52           6      False
741       97       81     68           6      False

[70 rows x 12 columns]

In [18]:
#Sort the values
df.sort_values('Type 1',ascending=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,40,29,45,29,45,36,4,False
132,123,Scyther,Bug,Flying,70,110,80,55,80,105,1,False
656,595,Joltik,Bug,Electric,50,47,50,57,50,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
172,158,Totodile,Water,NaN,50,65,64,44,48,43,2,False
610,550,Basculin,Water,NaN,70,92,65,80,55,98,5,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
574,515,Panpour,Water,NaN,50,53,48,53,48,64,5,False
184,170,Chinchou,Water,Electric,75,38,38,56,56,67,2,False

In [19]:
df.sort_values(['Type 1','Type 2'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,60,69,95,69,95,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

# Adding columns into dataset

In [23]:
#df['Total']=df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']
df['Total']=df.iloc[:,4:10].sum(axis=1)

In [25]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

# Removing column

In [26]:
df=df.drop(columns=['#'])

In [27]:
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

# Filter Data

In [28]:
pokemon = df.loc[(df['Type 1']=='Grass')&(df['Type 2']=='Poison')]

In [29]:
pokemon

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

# Applying basic statistics

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   HP          800 non-null    int64
 4   Attack      800 non-null    int64
 5   Defense     800 non-null    int64
 6   Sp. Atk     800 non-null    int64
 7   Sp. Def     800 non-null    int64
 8   Speed       800 non-null    int64
 9   Generation  800 non-null    int64
 10  Legendary   800 non-null    bool
 11  Total       800 non-null    int64
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [31]:
df['count']=1
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64